* {
    font-family: Segoe UI, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 4.8rem;
    position: fixed;

    background-color: #d83fef;
    border-bottom: 0.2rem solid black;
}

header h1 {
    padding-top: 0.33rem;
    font-size: 3rem;
    text-align: center;
}

nav {
    width: 100%;
    height: 2.5rem;
    margin-top: 5rem;
    position: fixed;

    background-color: #888888;
    border-bottom: 0.33rem solid black;

    line-height: 1.33rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

nav a {
    color: white;
    padding-top: 0.55rem;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav a:visited {
    color: white;
}

main {
    margin-top: 12rem;
    width: 80%;
    background-color: white;

    border: 5px solid black;
    border-radius: 5px;
}

main hr {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

main h2 {
    text-align: center;
    margin-top: 1rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

main h3 {
    text-align: center;
    margin-bottom: 1rem;
}

main h4 {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

main p {
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

main table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 70%;
    margin-left: 2rem;
}

main table td {
    border: 2px solid black;
    width: 50%;
    height: 5rem;
}

main table h5 {
    margin-left: 1rem;
}